+b.form-wr.signup-form
      +b('form').form
        +b.title-wr
          +b.subtitle Sign up Advertiser 

        +b.section-label
          +b.section-title PERSONAL INFORMATION

          +b.input-section
            +b.label.input-label
              +b('p').input-title Name
                span *
              input(type="text" required).form-input

            +b.label.input-label
              +b('p').input-title Email
                span *
              input(type="email" required).form-input

            +b.label.input-label.long
              +b('p').input-title Phone
                span
              input(type="tel" placeholder="+").form-input

            +b.label.input-label
              +b('p').input-title Password
                span *
              input(type="text" required).form-input

            +b.label.input-label
              +b('p').input-title Confirm password
                span *
              input(type="text" required).form-input

            +b.label.input-label.long
              +b('p').input-title Confirm password
                span *
              +b('select')(required).form-input
                option Where did you find us?
                option Forum
                option Google
                option Case study PDF
                option Facebook
                option Twitter
                option Linkedin
                option Blog
                option Catalog
                option Video
                option Other

        +b.section-label
          +b.section-title CAPTCHA

          +b.captcha-label
            +e.item
              img(src='https://crm.zoho.eu/crm/CaptchaServlet?formId=b0edb8ce90533135772a0bc87cef0b7803bda743172398973dcc5234115d054a&grpid=7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')#imgid
            +e.text
              p Can’t read the security code? #[a(href="javascript:;" onclick="reloadImg()") Reload]

          +b.label.input-label
            +b('p').input-title Enter the Captcha
              span *
            input(type="text" required).form-input

          +b.btn-wr
            +b('button').btn-default.form-btn Sign up
        script.
          /* Do not remove this code. */
          function reloadImg() {
          if(document.getElementById('imgid').src.indexOf('&d') !== -1 ) {
          document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();
          }  else {
          document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();
          }
          }
          function checkMandatory() {
          for(i=0;i<mndFileds.length;i++) {
          var fieldObj=document.forms['WebToLeads26076000000635110'][mndFileds[i]];
          if(fieldObj) {
          if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
          if(fieldObj.type =='file')
          {
          alert('Please select a file to upload.');
          fieldObj.focus();
          return false;
          }
          alert(fldLangVal[i] +' cannot be empty.');
          fieldObj.focus();
          return false;
          }  else if(fieldObj.nodeName=='SELECT') {
          if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
          alert(fldLangVal[i] +' cannot be none.');
          fieldObj.focus();
          return false;
          }
          } else if(fieldObj.type =='checkbox'){
          if(fieldObj.checked == false){
          alert('Please accept  '+fldLangVal[i]);
          fieldObj.focus();
          return false;
          }
          }
          try {
          if(fieldObj.name == 'Last Name') {
          name = fieldObj.value;
          }
          } catch (e) {}
          }
          }
          }
