doctype html
include ../_vendor/bemto/bemto.pug
include ../_mixins/mixins.pug

- set_bemto_settings({ modifier: '--' })

block vars
- var rootClasses = rootClasses || '';
- var bodyClasses = bodyClasses || '';
- var TITLE = ''
- var DESCRIPTION = 'Powerful solution to buy and sell traffic. The most effective online tool to build a profitable advertising business'
- var VIEWPORT_CONTENT = VIEWPORT_CONTENT || 'width=device-width, initial-scale=1, maximum-scale=1, minimal-ui';

html(class=rootClasses)
  head
    include ../_partials/head/head.pug
    block head

  body(class=bodyClasses)
    block content

  block scripts
    script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
    script(src='assets/scripts/tools.js')

    // GoogleAnalytics
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-74410383-1', 'auto');
      ga('send', 'pageview');
    // /GoogleAnalytics
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
      try {
      w.yaCounter36931065 = new Ya.Metrika({
      id: 36931065,
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
      });
      } catch (e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/36931065', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    // Facebook Pixel Code
    script.
      !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
      n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      }; if (!f._fbq) f._fbq = n;
      n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
      }(window,
      document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1475495696091134');
      fbq('track', "PageView");
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1475495696091134&ev=PageView&noscript=1')
    // End Facebook Pixel Code
    //
      <script>
      window.intercomSettings = { app_id: 'fb4ce584fb4588e8467fae7e0eeb795733d8f23d' };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/fb4ce584fb4588e8467fae7e0eeb795733d8f23d';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    // Amplitude
    script(type='text/javascript').
      (function (e, t) {
      var n = e.amplitude || { _q: [] }; var r = t.createElement("script"); r.type = "text/javascript";
      r.async = true; r.src = "https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.12.1-min.gz.js";
      r.onload = function () { e.amplitude.runQueuedFunctions() }; var s = t.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(r, s); function i(e, t) {
      e.prototype[t] = function () {
      this._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
      return this
      }
      } var o = function () { this._q = []; return this }; var a = ["add", "append", "clearAll", "prepend", "set", "setOnce", "unset"];
      for (var u = 0; u < a.length; u++) { i(o, a[u]) } n.Identify = o; var c = function () {
      this._q = []; return this;
      }; var p = ["setProductId", "setQuantity", "setPrice", "setRevenueType", "setEventProperties"];
      for (var l = 0; l < p.length; l++) { i(c, p[l]) } n.Revenue = c; var d = ["init", "logEvent", "logRevenue", "setUserId", "setUserProperties", "setOptOut", "setVersionName", "setDomain", "setDeviceId", "setGlobalUserProperties", "identify", "clearUserProperties", "setGroup", "logRevenueV2", "regenerateDeviceId"];
      function v(e) {
      function t(t) {
      e[t] = function () {
      e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
      }
      } for (var n = 0; n < d.length; n++) { t(d[n]) }
      } v(n); e.amplitude = n
      })(window, document);
      amplitude.init('c532ece22bf3ce2bee31263ee3e2b1c9', null, {
      includeUtm: true,
      includeReferrer: true
      });
      amplitude.logEvent('Landing page - Visit');
    // Amplitude UTM
    script(type='text/javascript').
      $(function () {
      // Get all utm parameters from query string
      function ampGetQueryParams(qs) {
      qs = qs.split("+").join(" ");
      var params = {}, tokens,
      re = /\\butm_([^=]+)=([^&]+)/g;
      while (tokens = re.exec(qs)) {
      params[decodeURIComponent(tokens[1])]
      = decodeURIComponent(tokens[2]);
      }
      return params;
      }
      // Populate the object to be sent to Amplitude
      var utmParams = ampGetQueryParams(document.location.search), propertiesToReport = {};
      for (var param in utmParams) {
      propertiesToReport["utm_" + param] = utmParams[param];
      }
      if (Object.getOwnPropertyNames(propertiesToReport).length !== 0) {
      amplitude.setUserProperties(propertiesToReport);
      }
      });
    // Hotjar Tracking Code for http://admachine.co
    script.
      (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 333825, hjsv: 5 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
      })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');


  block extraScripts
