.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 28px 0;
  z-index: 3;
  @media #{$M_XLG2} {
    max-width: 100%;
    padding: 35px 30px 0;
  }
  @media #{$M_SMX} {
    max-width: 100%;
  }
  @media #{$M_SM2} {
    z-index: 4;
  }
  &__logo {
    display: block;
    height: 26px;
    width: 187px;
    margin-top: 6px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../images/logo.svg);
  }
  & .hdr-nav {
    display: flex;
    align-items: center;
    align-content: center;
    font-family: $font-Montserrat-SemiBold;
    &.active {
      display: flex;
    }
    @media #{$M_SMX} {
      display: none;
      position: fixed;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      right: 0;
      left: 0;
      top: 105px;
      height: calc(100vh - 105px);
      padding: 10px 0 10px;
      background-color: rgba(0,0,0,0.85);
      z-index: 3;
    }
    &__item {
      line-height: 40px;
      padding: 0 20px;
      font-size: 16px;
      white-space: nowrap;
      color: $gray-99;
      @media #{$M_XLG2} {
        padding: 0 15px;
      }
      @media #{$M_SM} {
        width: 100%;
        padding: 5px 18px;
        text-align: center;
        font-size: 21px;
        color: $white;
      }
      &:last-of-type {
        border-right: transparent;
        &.extra {
          border-right: transparent;
        }
      }
      & a {
        white-space: nowrap;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
      }
      &.extra {
        margin-left: 20px;
        padding-left: 40px;
        border-left: 1px solid $blue-D3;
        border-right: 1px solid $blue-D3;
        color: transparent;
        @media #{$M_SMX} {
          color: rgba(255,255,255,0.5);
        }
        @media #{$M_XLG2} {
          margin-left: 15px;
          padding-left: 30px;
        }
        @media #{$M_SM} {
          border-left: none;
          margin-left: 0;
          padding-left: 18px;
        }
        & a {
          margin-left: 12px;
          color: $blue-28;
          &:first-of-type {
            margin-left: 0;
            margin-right: 12px;
          }
        }
      }
    }
  }
  & .mobile-menu-trigger {
    display: none;
    position: relative;
    height: 21px;
    width: 30px;
    margin-top: 8px;
    &.active {
      & span {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.2s;
        &:first-of-type {
          @include transform-rotate(-45deg);
        }
        &:nth-of-type(2n) { display: none;}
        &:last-of-type {
          @include transform-rotate(45deg);
        }
      }
    }
    &:active {
      opacity: 0.8;
    }
    & span {
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 100%;
      left: 0;
      right: 0;
      background-color: $gray-4B;
      &:first-of-type { top: 0;}
      &:nth-of-type(2n) { top: 9px;}
      &:last-of-type { bottom: 0;}
    }
    @media #{$M_SMX} {
      display: block;
    }
  }
}
.header-wr {
  position: relative;
  height: auto;
  min-height: 105px;
  width: 100%;
  border-bottom: 1px solid $gray-F1;
}