meta(charset='utf-8')
title=TITLE
meta(name='viewport', content=VIEWPORT_CONTENT)
meta(name='description', content=DESCRIPTION)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="imagetoolbar" content="no")
meta(name="msthemecompatible", content="no")
meta(name="cleartype", content="on")
meta(name="HandheldFriendly", content="True")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
<link rel="icon" href="images/favicon/favicon.png">

link(rel='shortcut icon', type='image/x-icon', href='assets/images/favicon/favicon.ico' )
link(rel="icon", type="image/png", href="assets/images/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="assets/images/favicon/favicon-16x16.png", sizes="16x16")

link(rel="apple-touch-icon-precomposed", sizes="57x57", href="assets/images/favicon/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="assets/images/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="assets/images/favicon/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon-precomposed", sizes="120x120", href="assets/images/favicon/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon-precomposed", sizes="144x144", href="assets/images/favicon/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon-precomposed", sizes="152x152", href="assets/images/favicon/apple-touch-icon-152x152.png")

meta(name="msapplication-TileImage", content="mstile-144x144.png")

<meta name="google-site-verification" content="y9eUYmSjFePL0kDkIvjYWa77I3FctNOic8chxOn0o0Y" />
<meta name="google-site-verification" content="FyACmGJy7ynYUaCVq6ujnVSzNf8shZlXV3V9eeUMzgE" />

<meta name="btg" content="ssxt6luh610av072desh3187pdoo16kr0rzq3gfstu3e37a">
<meta name="webmoney" content="670FE494-EA6E-426F-B261-2126A68F00D8"/>

<meta property="og:image" content="//admachine.co/img/og/admachine-pic.png" />
<meta property="og:title" content="AdMachine: white label DSP" />
<meta property="og:description" content="All-in-one advertising platform to start profitable online business" />

link(rel="apple-touch-icon", href='assets/images/favicon/apple-touch-icon.png')
link(rel="icon", sizes="32x32", type="image/png", href='assets/images/favicon/favicon.png')

meta(name='apple-mobile-web-app-title', content=TITLE)
meta(name='application-name', content=TITLE)

meta(property='og:title', content=TITLE)
meta(property='og:site_name', content=TITLE)
meta(property='og:title', content=TITLE)
meta(property='og:description', content=DESCRIPTION)

link(href='assets/stylesheets/style.css', type='text/css', rel='stylesheet')

!= "<!-- [if gte IE 9]"
style.
  .gradient {
    filter: none;
  }
<!-- Facebook Pixel Code -->
script.
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1378525838892885'); // Insert your pixel ID here.
  fbq('track', 'PageView');
noscript
  img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1378525838892885&ev=PageView&noscript=1')

<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
