+b.form-wr.signin-form
      +b('form').form
        +b.title-wr
          +b.subtitle Sign in

        +b.section-label

          +b.input-section
            +b.label.input-label.long
              +b('p').input-title Email
                span *
              input(type="email" required).form-input

            +b.label.input-label.long
              +b('p').input-title Password
                span *
              input(type="password" required).form-input

            +b.checkbox-label
              input(type="checkbox" id="checkbox-1")
              label(for="checkbox-1") Remember me
                i 
            +b.pass-restore
              +b('a')(href="#") Forgot your password?

          +b.btn-wr
            +b('button').btn-default.form-btn Sign in
