+b.form-wr.monetize-form#crmWebToEntityForm
      +b('form')(action='https://crm.zoho.eu/crm/WebToLeadForm' name='WebToLeads26076000000635110' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8').form
        // Do not remove this code.
        input(type='text', style='display:none;', name='xnQsjsdp', value='7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')
        input#zc_gad(type='hidden', name='zc_gad', value='')
        input(type='text', style='display:none;', name='xmIwtLD', value='b0edb8ce90533135772a0bc87cef0b7803bda743172398973dcc5234115d054a')
        input(type='text', style='display:none;', name='actionType', value='TGVhZHM=')
        input(type='text', style='display:none;', name='returnURL', value='https://admachine.co/new/thanks.html')
        // Do not remove this code.
        +b.title-wr
          +b.subtitle Get a Demo

        +b.section-label
          +b.section-title PERSONAL INFORMATION

          +b.input-section
            +b.label.input-label
              +b('p').input-title Name
                span *
              input(type="text" required name="Last Name").form-input

            +b.label.input-label
              +b('p').input-title Website
                span *
              input(type="text" required name="Website").form-input

            +b.label.input-label.test
              +b('p').input-title Email
                span *
              input(type="email" required name="Email").form-input

            +b.label.input-label
              +b('p').input-title Phone
                span *
              input(type="tel" required name="Phone").form-input

            +b.label.textarea-label
              +b('p').input-title How we can help?
              textarea(name="Description").form-input
              
            +b.label.input-label.long
              +b('select')(name='LEADCF2').form-input
                option(value='Platform.IO') Plaftorm.IO
                option(selected='', value='Admachine') Admachine

        +b.section-label
          +b.section-title CAPTCHA

          +b.captcha-label
            +e.item
              img(src='https://crm.zoho.eu/crm/CaptchaServlet?formId=b0edb8ce90533135772a0bc87cef0b7803bda743172398973dcc5234115d054a&grpid=7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')#imgid
            +e.text
              p Can’t read the security code? #[a(href="javascript:;" onclick="reloadImg()") Reload]

          +b.label.input-label
            +b('p').input-title Enter the Captcha
              span *
            input(type="text" required name='enterdigest').form-input

          +b.btn-wr
            +b('button').btn-default.form-btn Submit

        script.
          var mndFileds=new Array('Last Name','Email','Phone','Website','Description');
          var fldLangVal=new Array('Name','Email','Phone','Website','How we can help');
          var name='';
          var email='';
          /* Do not remove this code. */
          function reloadImg() {
          if(document.getElementById('imgid').src.indexOf('&d') !== -1 ) {
          document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();
          }  else {
          document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();
          }
          }
          function checkMandatory() {
          for(i=0;i<mndFileds.length;i++) {
          var fieldObj=document.forms['WebToLeads26076000000635110'][mndFileds[i]];
          if(fieldObj) {
          if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
          if(fieldObj.type =='file')
          {
          alert('Please select a file to upload.');
          fieldObj.focus();
          return false;
          }
          alert(fldLangVal[i] +' cannot be empty.');
          fieldObj.focus();
          return false;
          }  else if(fieldObj.nodeName=='SELECT') {
          if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
          alert(fldLangVal[i] +' cannot be none.');
          fieldObj.focus();
          return false;
          }
          } else if(fieldObj.type =='checkbox'){
          if(fieldObj.checked == false){
          alert('Please accept  '+fldLangVal[i]);
          fieldObj.focus();
          return false;
          }
          }
          try {
          if(fieldObj.name == 'Last Name') {
          name = fieldObj.value;
          }
          } catch (e) {}
          }
          }
          }
